<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.popov.bodya">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ru.popov.bodya.app.HowMoneyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/MoneyTrackerTheme">
        <activity android:name="ru.popov.bodya.presentation.account.AccountActivity" />
        <activity
            android:name="ru.popov.bodya.presentation.init.InitActivity"
            android:label="@string/app_name"
            android:theme="@style/MoneyTrackerTheme.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>